[submodule "containers/zoneminder"]
	path = containers/zoneminder
	url = git@github.com:homelab-library/zoneminder.git
	branch = master
[submodule "containers/base"]
	path = containers/base
	url = git@github.com:homelab-library/base.git
	branch = master
[submodule "containers/synapse"]
	path = containers/synapse
	url = git@github.com:homelab-library/synapse.git
	branch = master
[submodule "containers/keycloak"]
	path = containers/keycloak
	url = git@github.com:homelab-library/keycloak.git
	branch = master
[submodule "containers/static-site"]
	path = containers/static-site
	url = git@github.com:homelab-library/static-site.git
	branch = master
[submodule "containers/apacheds"]
	path = containers/apacheds
	url = git@github.com:homelab-library/apacheds.git
	branch = master
