[submodule "charts"]
	path = charts
	url = git@github.com:homelab-library/charts.git
	branch = master
[submodule "containers/rundeck"]
	path = containers/rundeck
	url = git@github.com:homelab-library/rundeck.git
	branch = master
[submodule "containers/zoneminder"]
	path = containers/zoneminder
	url = git@github.com:homelab-library/zoneminder.git
	branch = master
[submodule "containers/base"]
	path = containers/base
	url = git@github.com:homelab-library/base.git
	branch = master
[submodule "containers/synapse"]
	path = containers/synapse
	url = git@github.com:homelab-library/synapse.git
	branch = master
[submodule "containers/keycloak"]
	path = containers/keycloak
	url = git@github.com:homelab-library/keycloak.git
	branch = master
