# {{ display_name }} Container Images

[![Github](https://img.shields.io/badge/repo-github-brightgreen)](https://github.com/homelab-library/{{name}}/)
{%- if autogen['image.yml'] %}
[![Build Images](https://github.com/homelab-library/{{name}}/actions/workflows/image.yml/badge.svg)](https://github.com/homelab-library/{{name}}/actions/workflows/image.yml)
{%- endif %}
[![MIT License](https://img.shields.io/badge/license-MIT-blue)](https://raw.githubusercontent.com/homelab-library/{{name}}/master/LICENSE-MIT)
[![Apache License](https://img.shields.io/badge/license-Apache-blue)](https://raw.githubusercontent.com/homelab-library/{{name}}/master/LICENSE-APACHE)

<!-- mdformat-toc start -->

{% if disclaimer -%}
{{ disclaimer }}
{%- endif %}

## About {{ display_name }}

{% if upstream_link -%}
[{{ display_name }}]({{ upstream_link }})
{%- endif %}

{{ description }}

{% if (options.keys() | length) > 0 %}
## Container Options

| Environment | Description |
| ----------- | ----------- |
{% for (key, val) in options.items() -%}
| {{ key }} | {{ val }} |
{% endfor %}
{% endif %}
